.login__page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.login{
    height: auto;
    display: grid;
    align-items: center;
}
@media only screen and (max-width: 600px) {
.login{
    width: 60% !important;
}
}

.login > .login__container{
    padding: 70px;
    text-align: center;
    background: white;
    border-radius:10px ;
    box-shadow: 0px 1px 6px rgba(58, 57, 57, 0.521);
}
.login img{
    height: 100px;
    object-fit: contain;
    margin-bottom: 30px;
}
.login .login__text h1{
    font-size: 20px;
    font-weight: 700;
}
.login .login__container > button{
    margin-top: 20px;
    background-color: #0a8d48;
    color: white;
    text-transform: capitalize;
}